In [3]:
import numpy as np
import pandas as pd
import json
import pandas_profiling as pp
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
path = '/content/chotot_used_cars.csv'
path_1 = '/content/bonbanh_used_cars.json'
path_2 = '/content/otocom_used_car.json'
path_3 = '/content/sanxehot_detail.json'
f = open(path_1, 'r')
f1 = open(path_2, 'r')
f2 = open(path_3, 'r')
data1 = json.load(f)
data2 = json.load(f1)
data3 = json.load(f2)
chotot = pd.read_csv(path)
bonbanh = pd.DataFrame.from_records(data1)
otocom = pd.DataFrame.from_records(data2)
sanxehot = pd.DataFrame.from_records(data3)

##Standardized data sets

In [5]:
chotot['type'] = chotot['type'].map({'Sedan':'sedan', 'Hatchback' : 'hatchback', 'Van' : 'van', 'SUV / Cross over': 'suv', 'Minivan (MPV)': 'mpv', 'Pick-up (bán tải)' : 'pick-up', 'Kiểu dáng khác' : np.nan, 'Coupe (2 cửa)':'coupe', 'Mui trần' : 'convertible', '' : np.nan})

In [6]:
otocom.transmission = otocom.transmission.apply(lambda x: x.strip())
otocom = otocom[otocom.transmission.isin(['automatic', 'manual', 'semi-automatic'])]
otocom.transmission.unique()

array(['automatic', 'manual', 'semi-automatic'], dtype=object)

In [7]:
chotot = chotot[(chotot.transmission != '5')]

In [8]:
otocom['type'] = otocom.type.apply(lambda x: x.strip())
otocom.replace('pick-up truck', 'pickup', inplace=True)
otocom.type.unique()

array(['sedan', 'suv', 'van', 'mpv', 'cuv', 'pickup', 'hatchback',
       'coupe', 'sport car', 'convertible'], dtype=object)

In [9]:
otocom = otocom[otocom.type != 'sport car']

In [10]:
chotot.replace('Động cơ hybrid', 'hybrid', inplace = True)
chotot.fuel.unique()

array([nan, 'gasoline', 'diesel', 'electric', 'hybrid'], dtype=object)

In [11]:
bonbanh.drop(['internal_color', 'external_color', 'name'], axis = 1, inplace=True)
bonbanh_source = bonbanh.source_url
bonbanh.drop(['source_url'], axis = 1, inplace=True)

In [12]:
otocom.rename(columns={'Engine displacement': 'engine_capacity', 'name': 'model', 'model': 'type'}, inplace=True)
otocom_source = otocom.source_url
otocom_city = otocom.city
otocom.drop(['source_url', 'city'], axis = 1, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [13]:
sanxehot = sanxehot[sanxehot['name'].notna()]
sanxehot = sanxehot[sanxehot['year'].notna()]
sanxehot_source_url = sanxehot.source_url
sanxehot.name = sanxehot.name.str.replace('-',' ')
sanxehot['model'] = [a.replace(b, '').strip() for a, b in zip(sanxehot['name'], sanxehot['brand'])]
sanxehot.model = sanxehot.model.str.replace('Morning / Picanto', 'Morning')
sanxehot.model.unique()
sanxehot

,name,brand,source_url,type,origin,km_driven,external_color,seats,engine_capacity,fuels,transmission,wheel_drive,price,year,model
0,KIA Sorento,KIA,https://www.sanxehot.vn/mua-ban-xe/kia-new-sor...,suv,domestic,49000,Bạc,7.0,2.2,gasoline,automatic,NaN,810000000,2014.0,Sorento
1,Mercedes Benz S class,Mercedes Benz,https://www.sanxehot.vn/mua-ban-xe/mercedes--b...,sedan,domestic,20000,Đen,5.0,3.0,gasoline,automatic,NaN,3790000000,2016.0,S class
2,Lexus RX,Lexus,https://www.sanxehot.vn/mua-ban-xe/lexus-rx350...,suv,imported,30000,Trắng,5.0,3.5,gasoline,automatic,NaN,2190000000,2011.0,RX
3,Mazda 2,Mazda,https://www.sanxehot.vn/mua-ban-xe/mazda-2s-15...,sedan,domestic,41000,Đỏ,5.0,1.5,gasoline,automatic,NaN,458000000,2012.0,2
4,Kia Morning,Kia,https://www.sanxehot.vn/mua-ban-xe/kia-morning...,hatchback,imported,33000,Ghi xám,4.0,1.0,gasoline,automatic,NaN,378000000,2011.0,Morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7736,Mazda 3,Mazda,https://www.sanxehot.vn/mua-ban-xe/mazda-3-20a...,hatchback,imported,50000,Đỏ,4.0,2.0,gasoline,automatic,NaN,500000000,2010.0,3
7737,Kia Forte,Kia,https://www.sanxehot.vn/mua-ban-xe/kia-forte-1...,sedan,imported,60000,Ghi xám,5.0,1.6,gasoline,automatic,NaN,425000000,2011.0,Forte
7738,Audi Q3,Audi,https://www.sanxehot.vn/mua-ban-xe/audi-q3-201...,suv,imported,35000,Trắng,5.0,2.0,gasoline,automatic,NaN,1300000000,2012.0,Q3
7739,Toyota Innova,Toyota,https://www.sanxehot.vn/mua-ban-xe/toyota-inno...,suv,domestic,8000,Bạc,7.0,2.0,gasoline,manual,NaN,460000000,2008.0,Innova
7740,Ford Fiesta,Ford,https://www.sanxehot.vn/mua-ban-xe/ford-fiesta...,sedan,domestic,70000,Bạc,5.0,1.6,gasoline,automatic,NaN,395000000,2011.0,Fiesta

In [14]:
sanxehot_source_url = sanxehot.source_url
sanxehot.drop(['name', 'source_url', 'external_color', 'wheel_drive'], axis=1, inplace=True)

In [15]:
chotot.drop('url', axis = 1, inplace=True)
chotot.rename({'fuel': 'fuels', 'date': 'year', 'prices':'price'}, axis = 1, inplace = True)
chotot.head()

,brand,model,year,km_driven,transmission,fuels,origin,type,seats,price,engine_capacity
0,toyota,vios,2008.0,160000.0,automatic,NaN,domestic,sedan,5,245000000,1.5
1,mazda,2,2021.0,1000.0,automatic,gasoline,domestic,hatchback,5,548000000,1.5
2,toyota,fortuner,2016.0,116000.0,manual,diesel,imported,suv,7,655000000,2.6
3,volvo,xc90,2019.0,29000.0,automatic,gasoline,imported,suv,NaN,3690000000,2.0
4,mitsubishi,lancer,2002.0,200000.0,manual,NaN,imported,NaN,NaN,96000000,1.6

In [16]:
bonbanh.sort_index(axis=1, inplace=True)
otocom.sort_index(axis=1, inplace=True)
sanxehot.sort_index(axis=1, inplace=True)
chotot.sort_index(axis=1, inplace=True)

In [17]:
bonbanh.drop(['wheel_drive'], axis = 1 , inplace = True) # remove this when all other dataset filled with this missing info

##Combined dataset

In [18]:
cars = pd.concat([bonbanh,  otocom, sanxehot, chotot])

In [19]:
cars.dropna(subset=['brand'],inplace=True)
cars.brand = cars.brand.apply(lambda x: x.lower().strip())

In [20]:
cars.model.unique()
cars.model = cars.model.apply(lambda x: x.lower().strip())
cars.model.replace({'khác':np.nan, 'Khác':np.nan, 'dòng':np.nan},inplace=True)
# cars.brand.replace({'hãng khác':np.nan},inplace=True)
cars.model.unique()

array(['zdx', 'mdx', 'legend', 'a7', 'a6', 'q7', 'a5', 'q5', 'a4', 'tt',
       'a8', 'a1', 'a3', 'q8', 'q3', 'q2', 's5', '7 series', '3 series',
       '5 series', 'x3', 'x5', '6 series', 'x6', 'x4', '4 series', 'x7',
       'x2', 'x1', 'z4', 'i8', '2 series', 'm3', '1 series', 'lacetti',
       'spark', 'captiva', 'cruze', 'orlando', 'vivant', 'colorado',
       'aveo', 'trailblazer', 'tahoe', 'trax', 'corvette', 'camaro',
       'gentra', 'matiz', 'nubira', 'magnus', 'lanos', 'cielo', 'gentrax',
       'racer', 'leganza', 'espero', 'damas', 'labo', 'transit', 'ranger',
       'explorer', 'everest', 'ecosport', 'focus', 'tourneo', 'escape',
       'fiesta', 'f150', 'mustang', 'mondeo', 'laser', 'edge', 'bronco',
       'windstar', 'civic', 'city', 'brio', 'crv', 'accord', 'hrv',
       'odyssey', 'jazz', 'pilot', 'stream', 'tucson', 'kona', 'accent',
       'i10', 'santafe', 'i30', 'genesis', 'elantra', 'avante', 'county',
       'solati', 'veloster', 'grand starex', 'getz', 'sonata', 'xg',
       'i20', 'veracruz', 'starex', 'equus', 'click', 'creta', 'terracan',
       'verna', 'grandeur', 'h 1', 'eon', 'coupe', 'tuscani', 'galloper',
       'matrix', 'dmax', 'hi lander', 'mu-x', 'trooper', 'sonet', 'k3',
       'seltos', 'sorento', 'morning', 'rondo', 'carens', 'k5',
       'carnival', 'soluto', 'cerato', 'sedona', 'rio', 'optima', 'forte',
       'sportage', 'picanto', 'pride', 'opirus', 'quoris', 'spectra',
       'soul', 'cadenza', 'range rover sport', 'range rover',
       'range rover velar', 'range rover evoque', 'discovery', 'defender',
       'discovery sport', 'freelander', 'gs', 'lx', 'rx', 'ls', 'es',
       'nx', 'lm', 'gx', 'is', 'hs', 'ct', 'sc', '3', '6', '2', 'bt50',
       'cx5', 'cx 30', 'cx8', 'cx3', 'cx9', '626', 'mpv', '323',
       'premacy', '929', 'c class', 'gls', 's class', 'mb', 'glc',
       'e class', 'gl', 'maybach', 'g class', 'glk class', 'gla class',
       'gle class', 'glb', 'cla class', 'v class', 'a class', 'sprinter',
       'cls class', 'vito', 'r class', 'ml class', 'amg gt', 'slc',
       'clk class', 'zs', 'cooper', 'one', 'pajero sport', 'xpander',
       'outlander', 'attrage', 'triton', 'grandis', 'pajero', 'jolie',
       'space gear', 'outlander sport', 'zinger', 'lancer', 'mirage',
       'l300', 'colt', 'terra', 'almera', 'sunny', 'navara', 'murano',
       'teana', 'x trail', 'juke', 'cefiro', 'rogue', 'terrano',
       'bluebird', 'grand livina', 'patrol', 'cedric', 'qashqai',
       'pathfinder', 'sentra', 'urvan', 'maxima', '208', '405', '5008',
       '206', '3008', '2008', 'traveller', '107', '508', '408', 'cayenne',
       'macan', 'panamera', '718', 'boxster', '911', 'cayman', 'forester',
       'outback', 'levorg', 'legacy', 'xl7', 'swift', 'ciaz',
       'super carry van', 'ertiga', 'celerio', 'vitara', 'grand vitara',
       'apv', 'wagon r+', 'alto', 'fortuner', 'corolla altis', 'vios',
       'wigo', 'corolla cross', 'rush', 'yaris', 'camry', 'hilux',
       'prado', 'corolla', 'zace', 'land cruiser', 'innova', 'avanza',
       'raize', 'rav4', 'venza', 'sienna', 'celica', 'highlander',
       'hiace', 'fj cruiser', 'alphard', 'crown', 'granvia', 'sequoia',
       'prius', 'previa', 'avalon', 'solara', 'cressida', 'corona',
       '4 runner', 'corolla verso', 'tundra', 'wish', 'fadil',
       'lux sa 2.0', 'lux a 2.0', 'president', 'vf e34', 'tiguan',
       'passat', 'teramont', 'scirocco', 'jetta', 'polo', 'new beetle',
       'golf', 'eos', 'beetle', '159', 'db11', 'db9', 'beijing x7', 'f6',
       'x55', 'flying spur', 'bentayga', 'continental', 'mulsanne',
       'lacrosse', 'excelle', 'f0', 'srx', 'escalade', 'sts', 'qq3',
       'riich', '200', '300c', 'challenger', 'journey', 'db x30', 'sx6',
       'forthing t5', 'fengxing cm7', 'roma', 'f8', '458', '488',
       'emgrand', 'yukon', 'h3', 'qx', 'ex', 'fx', 'e-pace', 'xf',
       'xj series', 'f-pace', 'xe', 'f type', 'wrangler', 'gladiator',
       'daily', 'urus', '520', 'navigator', 'town car', 'm7', 'u7',
       'quattroporte', 'levante', 'ghibli', 'grancabrio', '720s',
       'pronto', 'star', 'plus four', 'plus six', '1500', 'sandero',
       'duster', 'logan', 'latitude', 'koleos', 'wraith', 'phantom',
       'ghost', 'cullinan', 'sm3', 'xd', 'fortwo', 'forfour', 'rexton',
       'stavic', 'tivoli', 'musso', 'korando', 'kyron', 'v5', 'towner',
       'mcar', 'simbir', 'hunter', nan, 's60', 'xc40', 'xc60', 'xc90',
       's90', 'v90', 'v60', 'z8', 'aygo', 'tacoma', 'lux', 'avella',
       'cx-5', 'cx-8', 'cx-30', 'bt-50', 'cx-9', 'cx-3', '5', 'cr-v',
       'hr-v', 'br-v', 'gla', 'glk', 'cls', 'cla', 'gle', 'galant', 'm4',
       'livina', 'tiida', 'micra', 'quest', 'altis',
       'all new range rover sport', 'gl class', 'land cruiser prado',
       'lancer gala', 'series 5', 'cr v', 'cx 5', 'series 3', 'cx 9',
       'bt 50', 'spark van', 'spark duo', 'cruze / lacetti', 'series 7',
       'd max', '370z', 'ft 86', 'cl class', 'series 4', 'fx 35', 'cl',
       'slk class', 'bt', 'santa', 'cr', 'e', 'c', 'range', 'land', 'mu',
       'grand', 'cx', 'x', 's', 'wagon', 'pick', '850', 'h', '4', '500',
       'mighty', 'xl', 'hi', 'v', 'a', 'citivan', '86', 'lagonda', 'mark',
       'nlr', 'allion', 'siena', 'antara', 'punto', 'aerostar', 'ml', '7',
       'wind', 'cd5', 'r', 'terios', 'fvr', 'clk', 'presage', '80',
       'albea', '323f', 'carrera', 'g', 'z500', 'trajet', 'cavalier',
       'l200', 'patriot', '190', 'i3', 'altezza', 'qkr', 'lr2', 'slk',
       'qx80', 'universe', 'iq', 'pickup', 'xj', 'dòng', 'suburban',
       'savrin', 'tempo', '350z', 'ax', 'atos', 'azera', 'sephia', 't880',
       'mx', 'sl', 'pixo', 'gran', '406', 'aerio', 'fit', 'b', 'f',
       'neon', 'balenno', 'q60', 'charade', 'huracan', 'avensis',
       'premio', 'emighty', 'l400', 'rdx', 'spider', 'englon', 'karando',
       'caprice', 'paso', 'altima', 'tempra', 's7', 'hijet', 'courier',
       'cs35', 'tiburon', 'concord', 'escort', 'centennial', 'qx70', 'u6',
       '740', '100nx', 'ptcruise', 'acononline', 'pregio', 'prelude',
       'g35', 'carina', 'electra', 'lantra', 'california', 'cresta',
       't600', 'liteace', 'omega', 'gold', 'pony', '3000gt', 'astro',
       'aurion', '456', 'atenza', 'doblo', 'cherokee', 'supra', 'xlv',
       '2107', 'ducato', 'townace', 'xv', 'contour', 'ilx', 'chairman',
       'fj', 'nqr', 'cj', '340'], dtype=object)

In [21]:
cars.reset_index(drop=True, inplace=True)

In [22]:
khac = cars[cars.brand == 'hãng khác'].index
cars.drop(index=khac, inplace=True)

In [23]:
cars.replace(['mercedes benz', 'mercedes-benz'], 'mercedes', inplace=True)

In [24]:
#process BMW & Mercedes
cars.replace('series 3', '3 series', inplace = True)
cars.replace('series 5', '5 series', inplace = True)
bmw_index = cars[cars['brand'] == 'bmw'].index
merc_index = cars[cars['brand'] == 'mercedes'].index
# bmw.model = bmw.model.str.split(expand=True)[0]
# bmw.model.value_counts()[:15]
cars.model.loc[([*bmw_index, *merc_index])] = cars.loc[([*bmw_index, *merc_index])].model.str.split(expand=True)[0]

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [25]:
#process Honda & Mazda

cars.replace(['cr', 'cr v', 'cr-v'], 'crv', inplace = True)
cars.replace(['cx-5', 'cx 5'], 'cx5', inplace = True)
cars.replace(['bt-50', 'bt 50'], 'bt50', inplace = True)
cars.replace(['cx-30', 'cx 30'], 'cx30', inplace = True)
cars.replace(['cx-8', 'cx 8'], 'cx8', inplace = True)
cars.replace(['cx-9', 'cx 9'], 'cx9', inplace = True)
cars.replace('hr-v', 'hrv', inplace = True)

In [26]:
cars.replace('santa', 'santafe', inplace = True)

In [27]:
cars = cars[(cars['model'] != 'cx')]
cars

,brand,engine_capacity,fuels,km_driven,model,origin,price,seats,transmission,type,year
0,acura,3.7,gasoline,0.0,zdx,imported,1280000000,5,automatic,crossover,2010.0
1,acura,3.7,gasoline,0.0,mdx,imported,600000000,5,automatic,suv,2008.0
2,acura,3.7,gasoline,110000.0,zdx,imported,960000000,5,automatic,crossover,2010.0
3,acura,3.7,gasoline,0.0,mdx,imported,650000000,5,automatic,suv,2007.0
4,acura,3.7,gasoline,10000.0,mdx,imported,590000000,5,automatic,suv,2009.0
...,...,...,...,...,...,...,...,...,...,...,...
66370,honda,1.9,gasoline,23000.0,hrv,imported,726000000,5,automatic,suv,2019.0
66371,toyota,2.2,gasoline,30000.0,camry,imported,105000000,5,automatic,sedan,1990.0
66373,kia,1.1,gasoline,123456.0,morning,domestic,139000000,5,manual,hatchback,2010.0
66374,toyota,2.5,gasoline,35607.0,fortuner,imported,850000000,7,automatic,suv,2017.0
66375,hyundai,2.3,gasoline,68000.0,grand,domestic,315000000,5,manual,hatchback,2019.0

In [28]:
#process Vinfast

lux_a = cars[(cars['brand'] == 'vinfast') & (cars['model'] == 'lux') & (cars['type'] == 'sedan')].index
lux_sa = cars[(cars['brand'] == 'vinfast') & (cars['model'] == 'lux') & (cars['type'] == 'suv')].index
cars.model.loc[lux_a] = 'lux a 2.0'
cars.model.loc[lux_sa] = 'lux sa 2.0'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [29]:
#process Toyota

drop_corolla = [*cars[(cars['brand'] == 'toyota') & (cars['model'] == 'corolla') & (cars['type'] == 'mpv')].index, *cars[(cars['brand'] == 'toyota') & (cars['model'] == 'corolla') & (cars['type'] == 'hatchback')].index]
cars.drop(index=drop_corolla, inplace = True)
cars.replace('altis', 'corolla altis', inplace = True)

In [30]:
top15 = cars.brand.value_counts()[:15].index
cars1 = cars.loc[cars['brand'].isin(top15)]
cars1.shape

(61966, 11)

In [31]:
cars[(cars['brand'] == 'toyota') & (cars['model'] == 'corolla')].type.unique()

array(['sedan', 'suv', nan], dtype=object)

In [32]:
corolla_suv = cars[(cars['brand'] == 'toyota') & (cars['model'] == 'corolla') & (cars['type'] == 'suv')].index
corolla_sedan = cars[(cars['brand'] == 'toyota') & (cars['model'] == 'corolla') & (cars['type'] == 'sedan')].index
cars.model.loc[corolla_suv] = 'corolla cross'
cars.model.loc[corolla_sedan] = 'corolla altis'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [33]:
cars_process = cars.copy()
cars_process.model = cars['brand'] + ' ' + cars['model']
cars_process

,brand,engine_capacity,fuels,km_driven,model,origin,price,seats,transmission,type,year
0,acura,3.7,gasoline,0.0,acura zdx,imported,1280000000,5,automatic,crossover,2010.0
1,acura,3.7,gasoline,0.0,acura mdx,imported,600000000,5,automatic,suv,2008.0
2,acura,3.7,gasoline,110000.0,acura zdx,imported,960000000,5,automatic,crossover,2010.0
3,acura,3.7,gasoline,0.0,acura mdx,imported,650000000,5,automatic,suv,2007.0
4,acura,3.7,gasoline,10000.0,acura mdx,imported,590000000,5,automatic,suv,2009.0
...,...,...,...,...,...,...,...,...,...,...,...
66370,honda,1.9,gasoline,23000.0,honda hrv,imported,726000000,5,automatic,suv,2019.0
66371,toyota,2.2,gasoline,30000.0,toyota camry,imported,105000000,5,automatic,sedan,1990.0
66373,kia,1.1,gasoline,123456.0,kia morning,domestic,139000000,5,manual,hatchback,2010.0
66374,toyota,2.5,gasoline,35607.0,toyota fortuner,imported,850000000,7,automatic,suv,2017.0
66375,hyundai,2.3,gasoline,68000.0,hyundai grand,domestic,315000000,5,manual,hatchback,2019.0

In [34]:
#keep only top 15 most appear model each brand
model_keep = []

def top_appear(brand):
  _keep_index = cars_process[cars_process['brand']==brand].model.value_counts()[:15].index
  _keep_values = cars_process[cars_process['brand']==brand].model.value_counts()[:15]

  for i, j in zip(_keep_index, _keep_values):
    if j > 27:
      model_keep.append(i)
      # print('{} : {}'.format(i,j))

model_keep = [*model_keep, *cars_process[cars_process['brand'] == 'vinfast'].model.unique()]

for _ in top15:
  top_appear(_)

cars_process = cars_process.loc[cars_process['model'].isin(model_keep)]
cars_process

,brand,engine_capacity,fuels,km_driven,model,origin,price,seats,transmission,type,year
220,bmw,2.0,gasoline,60000.0,bmw 7,imported,2380000000,4,automatic,sedan,2015.0
221,bmw,2.0,gasoline,57000.0,bmw 3,imported,929000000,4,automatic,sedan,2016.0
222,bmw,2.0,gasoline,60000.0,bmw 5,imported,1255000000,4,automatic,sedan,2016.0
223,bmw,2.0,gasoline,0.0,bmw x3,imported,2539000000,4,automatic,suv,2021.0
224,bmw,2.0,gasoline,0.0,bmw x3,imported,2129000000,5,automatic,suv,2020.0
...,...,...,...,...,...,...,...,...,...,...,...
66370,honda,1.9,gasoline,23000.0,honda hrv,imported,726000000,5,automatic,suv,2019.0
66371,toyota,2.2,gasoline,30000.0,toyota camry,imported,105000000,5,automatic,sedan,1990.0
66373,kia,1.1,gasoline,123456.0,kia morning,domestic,139000000,5,manual,hatchback,2010.0
66374,toyota,2.5,gasoline,35607.0,toyota fortuner,imported,850000000,7,automatic,suv,2017.0
66375,hyundai,2.3,gasoline,68000.0,hyundai grand,domestic,315000000,5,manual,hatchback,2019.0

In [35]:
cars_process = cars_process[cars_process.km_driven > 1000]
cars_process.shape

(43326, 11)

In [36]:
cars_process.reset_index(drop=True, inplace=True)

In [37]:
from scipy import stats

q_low_price = cars_process["price"].quantile(0.02)
q_hi_price  = cars_process["price"].quantile(0.97)

cars_process = cars_process[(cars_process["price"] < q_hi_price) & (cars_process["price"] > q_low_price)]
cars_process.shape

(41123, 11)

In [38]:
cars_process = cars_process[cars_process['year'] > 2007]

In [39]:
cars_process.dropna(inplace=True)

##Encoding categorical

In [40]:
transmission = cars_process['transmission']
transmission = pd.get_dummies(transmission,drop_first=True)
transmission.head()

   manual  semi-automatic
1       0               0
2       0               0
3       0               0
4       0               0
5       0               0

In [41]:
fuels = cars_process['fuels']
fuels = pd.get_dummies(fuels,drop_first=True)
fuels.head()

   gasoline  hybrid
1         1       0
2         1       0
3         1       0
4         1       0
5         1       0

In [42]:
cars_process.replace('pick-up', 'pickup', inplace=True)

In [43]:
type1 = cars_process['type']
type1 = pd.get_dummies(type1,drop_first=True)
type1.head()

   coupe  crossover  cuv  hatchback  mpv  pickup  sedan  suv  van
1      0          0    0          0    0       0      1    0    0
2      0          0    0          0    0       0      1    0    0
3      0          0    0          0    0       0      1    0    0
4      0          0    0          0    0       0      1    0    0
5      0          0    0          0    0       0      1    0    0

In [44]:
origin = cars_process['origin']
origin = pd.get_dummies(origin,drop_first=True)
origin.head()

   imported
1         1
2         1
3         1
4         1
5         1

In [45]:
final_cars = pd.concat([cars_process, transmission, fuels, origin, type1],axis = 1)
final_cars.shape

(34787, 25)

In [47]:
#Save data to csv
final_cars.to_csv('final_cars.csv', index = False)